.consultation {
    margin-top: 100px;
    background-color: var(--light-blue);
    padding: 30px;
}

.consultation__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consultation__content {
    display: flex;
    justify-content: center;
}

.consultation__form {
    background-color: var(--light-blue);
    box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 0.08);
    text-align: center;

}
.consultation__title {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 25px;
    line-height: 148.68%;
    padding: 90px 160px 0px;
    white-space: nowrap;
}
.consultation__text {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 166.18%;
    color: #777978;
    width: 360px;
}
.consultation__name {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 300px;
    height: 60px;
    padding: 0 25px;
    border: none;
}
.consultation__surnum {
    margin-bottom: 20px;
    width: 300px;
    height: 60px;
    padding: 0 25px;
    border: none;
}
.consultation__button {
    width: 300px;
    height: 60px;
}

.consultation__personal-data {
    font-size: 13px;
    font-family: Montserrat;
    line-height: 148.68%;
    width: 300px;
    padding-top: 10px;
    opacity: .4;
    padding-bottom: 83px;
}