.reviews__title {
    margin-top: 60px;
    text-align: center;
    font-size: 40px;
}

.reviews__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.reviews__img img{
    width: 150px;
    height: 150px;
}

.reviews__name {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
    margin-bottom: 20px;
}

.reviews__text {
    font-family: 'Montserrat', sans-serif;
    width: 700px;
    text-align: center;
    color: #777978;
    font-size: 25px;
    line-height: 32px;
}