   
*{
	padding: 0;
	margin: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
    font-size: 16px;
    font-weight: 400;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', 'Montserrat', sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

:root {
    --light-blue: #E5F4FF;
    --blue: #aad8f8;
   }

.wrapper {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.title {
    font-family: 'Open Sans', sans-serif;
    line-height:40px;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 35px;
}

@import 'header.scss';
@import 'innovation.scss';
@import 'advantages.scss';
@import 'products.scss';
@import 'subscribe.scss';
@import 'modal.scss';
@import 'media.scss';